extends partials/layout

block head
  title Slides-animate

block content
  .tip Use &larr; and &rarr; on your keyboard to navigate between slides
  .slides-container

    .slide.slide--1(
      data-animation-show="fadeInRight",
      data-animation-hide="fadeOutLeft")
      .slide-content
        h1 Slide #1

    .slide.slide--2(
      data-animation-show="",
      data-animation-hide="",
      data-animation-delay="50")
      .slide-content
        h1 Slide #2

    .slide.slide--3(
      data-animation-show="fadeInRight",
      data-animation-hide="fadeOut")
      .slide-content
        h1 Slide #3

block scripts
  script(src="js/slides-animate.js")
  script(src="js/app.js")